html,
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	height: 100%;
	background-color: rgb(240, 240, 240);
}

.homepage-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	height: 86px;
}

.homepage-nav button {
	padding: 15px 30px;
	border-radius: 50px;
	border: none;
	background-color: rgb(55, 186, 247);
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 0.8rem;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	margin-right: 20px;
}

.homepage-nav button:focus,
.homepage-nav button:hover {
	outline: none;
	background-color: rgb(55, 154, 247);
}

.homepage-nav a:nth-of-type(2) {
	outline: none;
}

.nav-name {
	padding-left: 20px;
	font-size: 1.5em;
	font-weight: 100;
	text-decoration: none;
	color: black;
}

.nav-name:focus {
	outline: none;
}

.nav-links {
	display: flex;
	padding-right: 100px;
}

.nav-links li {
	list-style-type: none;
	padding-right: 20px;
}

.nav-links li a {
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 500;
	padding-bottom: 5px;
	transition: border-width 2s linear;
	color: black;
}

.nav-links li a::after {
	content: "";
	width: 0;
	margin-top: 2px;
	transition: width ease-in 0.3s;
	background: black;
	height: 1px;
	display: block;
}

.nav-links li a:hover::after {
	width: 100%;
}

.nav-links li a:focus {
	outline: none;
}

.nav-links li a:focus::after {
	outline: none;
	width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

header h1 {
   font-weight: 500  ;
}

header button {
	border: none;
	padding: 10px 20px;
	background-color: rgb(158, 158, 158);
	border-radius: 50px;
	margin-left: 5px;
   cursor: pointer;
}

header button:hover,header button:focus {
	background-color: rgb(124, 124, 124);
   outline: none;
}

form input {
   background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	font-size: 1.1rem;
}
form input:focus {
   outline: none;
}
